.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  border: 2px solid black;
  background-color: aquamarine;  
}
.content{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 8px;
  gap: 10px;

}
.corpo {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas de largura igual */
  grid-template-rows: repeat(3, 1fr); /* Quatro linhas de altura igual */
  margin: 10px;
}
.input{
  height: 30px;
}
.container_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.button {
  color: white;
  background-color: blue;
  font-size: 16px; 
  padding: 10px 40px; 
  margin:10px
}
